body {
    padding: 140px 30px 100px 30px;
}

.content-container {
    display: flex;
    justify-content: center;
}

.title-and-containers-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.checkout-title {
    text-align: left;
    font-size: 22px;
    color: rgb(33, 33, 33);
    font-weight: bold;
    margin-bottom: 20px;
}

.items-and-summary-flex {
    display: flex;
    column-gap: 10px;
}

.checkout-items {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.checkout-item-container {
    display: flex;
    flex-direction: column;
    height: 225px;
    padding: 20px;

    border: 1px solid rgb(222, 222, 222);
    border-radius: 4px;
}

.selected-date {
    margin-bottom: 20px;
    color: rgb(0, 118, 0);
    font-weight: bold;
    font-size: 19px;
}

.inner-container {
    display: flex;
    flex-direction: row;
    column-gap: 25px;
}

.item-image-container {
    height: 100%;
    width: 100px;
}

.item-image-container img {
    max-width: 100%;
    max-height: 100%;
}

.item-description-container {
    flex: 1;
}

.item-name {
    font-weight: bold;
    margin-bottom: 10px;
}

.item-price {
    color: rgb(177, 39, 4);
    font-weight: bold;
    margin-bottom: 5px;
}

.item-quantity {
    color: rgb(33, 33, 33);
}

.delivery-options-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.delivery-option-title {
    font-weight: bold;
}

.delivery-option-container {
    display: flex;
}

.delivery-option-container input {
    width: 19px;
    margin-right: 5px;
}

.delivery-option-container input:focus {
    outline: 2px solid orange;
}

.delivery-option-date {
    font-weight: 500;
    color: rgb(0, 118, 0);
    margin-bottom: 3px;
}

.delivery-option-shipping {
    font-size: 15px;
    color: rgb(120, 120, 120);
}

.order-summary-container {
    flex-shrink: 0;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 300px;
    padding: 18px;

    border: 1px solid rgb(222, 222, 222);
    border-radius: 4px;
}

.order-summary-title {
    font-weight: bold;
    font-size: 18px;
}

.order-summary-row {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    color: rgb(33, 33, 33);
}

.order-subtotal div {
    padding-top: 9px;
}

.order-subtotal div:last-child {
    border-top: 1px solid rgb(222, 222, 222);
}

.order-total {
    color: rgb(177, 39, 4);
    font-size: 18px;
    font-weight: bold;
    padding: 20px 0 10px 0;
    border-top: 1px solid rgb(222, 222, 222);
}

.place-order-button {
    padding: 12px 6px;
    border-radius: 10px;
}

@media (max-width: 980px) {
    .items-and-summary-flex {
        flex-direction: column;
        row-gap: 10px;
    }

    .checkout-item-container {
        width: 450px;
        height: auto;
        padding-bottom: 30px;
    }

    .inner-container {
        flex-wrap: wrap;
        row-gap: 15px;
    }

    .item-image-container {
        height: 120px;
        width: 120px;
    }

    .delivery-options-container {
        flex-basis: 100%;
        margin-top: 20px;
    }

    .order-summary-container {
        order: -1;
        width: 454px;
    }
}

.empty-cart-container {
    width: 705px;
}

.view-products-button {
    padding: 8px 15px;
    border-radius: 8px;
    font-size: 16px;
    margin-top: 10px;
} 
